name: sponsor ❤️
on: 
  issues:
    types: [opened, edited, reopened]
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  sponsor:
    runs-on: ubuntu-latest
    env:
      token: ${{ secrets.GH_TOKEN }}
    if: ${{ !endsWith(github.event.sender.login, '[bot]') && !endsWith(github.event.sender.login, 'bot') }}      
    steps:
      - name: ❤️ sponsor 
        if: env.token != ''
        uses: devlooped/actions-sponsor@main
        with:
          sponsorable: devlooped
          token: ${{ env.token }}
